*.AssemblyInfo.cs
*.props
*.vsidx
*.cache
*.editorconfig
*.json
*.dll
*.exe 
*.vs
ConsoleApp1/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ConsoleApp1/obj/x64/Debug/net8.0-windows/Shard.AssemblyInfo.cs
ConsoleApp1/obj/x64/Release/net8.0-windows/Shard.AssemblyInfo.cs
